<h2>Figma file URL</h2>
<form id="uploadLink" method="POST"> 
  Figma Link:<input type="text" placeholder="Figma file here" id="figmaFileURL">
  Drive Link:<input type="text" placeholder="Figma file here" id="figmaFileURL">
<button type="submit" id="uploadButt" request> Upload! </button>
</form>

<script>
  var xhr = new XMLHttpRequest();
  var status;

  document.getElementById('uploadButt').onclick = () => {
    var uploadLink =  document.getElementById('uploadLink').value;
    var figmaFileURL = document.getElementById('figmaFileURL').value;
    var figmaFileKey;
    if (figmaFileURL.includes("https://www.figma.com/file/")) {
      figmaFileKey = figmaFileURL.split("https://www.figma.com/file/").pop().split("/")[0];
      status = "OK"
    } else {
      status = "Please insert the right URL"
    }
    var obj = JSON.parse(JSON.stringify({ pluginMessage: { type: 'uploadButt', driveLink : uploadLink, figmaLink : figmaFileURL, figmaKey : figmaFileKey, status : status } }));
    parent.postMessage(obj, '*')
  }

  onmessage = (event) => {
    var data = event.data.pluginMessage;
    if (event.data.pluginMessage === "reset") {
      xhr.open("GET","http://localhost:3001/reset/", true);
      xhr.setRequestHeader("Content-Type","application/json");
      xhr.send();
      
    } else {
      xhr.open("POST","http://localhost:3001/figma-to-server/", false);
      xhr.setRequestHeader("Content-Type","application/json");
      xhr.send(JSON.stringify(data));
      console.log("got this from the plugin code", data, xhr.response);
      if (xhr.response === 'OK' || xhr.readyState === 4) {
        status = xhr.response;
        xhr.open("GET", "http://localhost:3001/result/", true);
        xhr.send();
        //var obj = JSON.parse(JSON.stringify({ pluginMessage: { type: 'uploadButt', driveLink : uploadLink, figmaLink : figmaFileURL, figmaKey : figmaFileKey, status : status } }));
        //parent.postMessage(obj, '*')
      }
    }
}
</script>