<form id="setApiKey">
    <ol>
        <li>Login to your Figma account.</li>
        <li>Head to the <b>Account Settings</b> from the top-left menu inside Figma.</li>
        <li>Find the <b>Personal Access Tokens</b> section.</li>
        <li>Click Create new token.</li>
    </ol>
    <input type="text" placeholder="Api Key" id="apiKey">
    <button type="submit" id="apiKeyButt">
        Save
    </button>
</form>

<script>

  var apiKey = '';
  var xhr = new XMLHttpRequest();
  xhr.setRequestHeader("Content-Type","application/json");

  document.getElementById('apiKeyButt').onclick = () => {
    apiKey =  document.getElementById('apiKey').value;
    var obj = JSON.parse(JSON.stringify({ pluginMessage: { apiKey: 'apiKey', status: status} }));
    parent.postMessage(obj, '*')
  }
  
  onmessage = (event) => {
    if (event.data.pluginMessage.type === "getKey") {
      var data = event.data.pluginMessage.apikey;
      xhr.open("GET","http://localhost:3001/setAPIKey/", false);
      xhr.send();
      var apiKey = xhr.responseText;

    } else {
      xhr.open("POST","http://localhost:3001/setAPIKey/", false);
      xhr.send(JSON.stringify(apiKey);
      var status = xhr.response;
      var obj = JSON.parse(JSON.stringify({ pluginMessage: status }));
      parent.postMessage(obj, '*')
    }
  }
</script>